.light {
    filter: drop-shadow(10px 5px 100px #fff) drop-shadow(0 0 2.5px #fff);
    animation: flicker 3s;
}

.neon {
    filter: drop-shadow(0 0 2px #fff);
    animation: flicker 3s;
}

.flicker {
    animation: flicker 3s;
}

@keyframes flicker {
    0%, 15% {
        opacity: 0;
    }
    16%, 18% {
        opacity: 0.3;
    }
    19%, 21% {
        opacity: 0;
    }
    22%, 24% {
        opacity: 0.6;
    }
    25%, 27% {
        opacity: 0;
    }
    28%, 30%, 32%, 34%, 36%, 38% {
        opacity: 0.5;
    }
    31%, 33%, 35%, 37% {
        opacity: 0.99;
    }
    39%, 100% {
        opacity: 0.99;
    }
}