.neon {
    filter: drop-shadow(10px 5px 100px #fff) drop-shadow(0 0 2.5px #fff);
    animation: flicker 4s;
}

@keyframes flicker {
    0%, 20% {
        opacity: 0;
    }
    21%, 23% {
        opacity: 0.3;
    }
    24%, 26% {
        opacity: 0;
    }
    27%, 29% {
        opacity: 0.6;
    }
    30%, 32% {
        opacity: 0;
    }
    33%, 35%, 37%, 39%, 41%, 43% {
        opacity: 0.5;
    }
    36%, 38%, 40%, 42% {
        opacity: 0.99;
    }
    44%, 100% {
        opacity: 0.99;
    }
}